
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div align="center">
    <h1> Welcome to Smart Insurance System</h1>
    <br><br>
    <table border = "0" cellpadding = "10" cellspacing = "10">
        <tr>
        <td>
            <a href = "\homedashboard">
            <button style="height:75px;width:150px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E" >
            Home Insurance</button></a>
        </td>
        <td>
            <a href = "\motordashboard">
            <button style="height:75px;width:150px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E" >
            Motor Insurance</button></a>
        </td>

        </tr>
    </table>
</div>
{% endblock %}